<!DOCTYPE html>
<!-- the doctype declaration should be included at the start of the HTML document -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap Visualization Dashboard</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../style.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

  <!-- The title element belongs inside the head -->
  <title>Metro</title>

</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Home</a>
          </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">          
          <ul class="nav navbar-nav navbar-right">            
            <li><a href="pj2_index.html">Maps</a></li>
            <li><a href="pj2_fun_fact_metro.html">Nice to Know</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
     <div class="container">
        <div class="row">
        <div class="col-md-12 jumbotron text-center" style="background-image: url(images/picture1.png)">
          <h1 class="ribbon">
            <strong class="ribbon-content">NICE TO KNOW.</span></strong>
          </h1> 
        </div>                  
     <div class="row comparison">
        <div class="row comparison">
            <style>
                h1 {
                    text-align: center;
                    background-color: gray;
                    color: white;
                }
                h3 {
                    text-align: center;
                    color: white;
                    background-color: gray;
                }
            </style>
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <h3 class="compare-title"> Total Recall by Arnold Schwarzenegger</h3>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/kLLPX8__3ME" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>             
                        </div>
    
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <h3 class="compare-title"> Cafe Tacvba</h3>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/S5V2XePIXX8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    
                        </div>
    
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <h3 class="compare-title"> Pyramid of Ehécatl</h3>
                            <blockquote class="twitter-tweet" data-lang="es"><p lang="es" dir="ltr">Te invitamos todos los jueves a las 9 PM a visitar el Monumento a Ehécatl en <a href="https://twitter.com/hashtag/PinoSu%C3%A1rez?src=hash&amp;ref_src=twsrc%5Etfw">#PinoSuárez</a> y disfrutar la proyección del video-mapping dedicado al Dios del Viento. <a href="https://t.co/db9pWpUXX4">pic.twitter.com/db9pWpUXX4</a></p>&mdash; MetroCDMX (@MetroCDMX) <a href="https://twitter.com/MetroCDMX/status/966442201130598400?ref_src=twsrc%5Etfw">21 de febrero de 2018</a></blockquote>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
                                    
                        </div>
    
                        <div class="col-xs-12 col-sm-12 col-md-6">
                            <h3 class="compare-title"> Baby Metro</h3>
                            <blockquote class="twitter-tweet" data-lang="es"><p lang="es" dir="ltr">Y con ustedes: El Metro bebé.<br>Alguien sabe ¿para qué sirve este metrito?<br>Oye <a href="https://twitter.com/MetroCDMX?ref_src=twsrc%5Etfw">@MetroCDMX</a>, ilústranos. <a href="https://t.co/O7Mo719TXm">pic.twitter.com/O7Mo719TXm</a></p>&mdash; Chilango (@ChilangoCom) <a href="https://twitter.com/ChilangoCom/status/1158436516542263296?ref_src=twsrc%5Etfw">5 de agosto de 2019</a></blockquote>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    
                        </div>
                            
                    </div>
                </div>
        </div>  
      </div>
    
    </body>
    
    </html>